actdiag
blockdiag
nwdiag
openstackdocstheme>=1.18.1 # Apache-2.0
pbr>=0.6,!=0.7,<1.0
Pillow>=2.4.0,<3.0.0 # MIT
seqdiag
sphinx!=1.6.6,!=1.6.7,>=1.6.2 # BSD
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
testrepository>=0.0.18
testtools>=0.9.34
yasfb>=0.5.1
